<main class="quien-soy">
    <h2 class="quien-titulo titulo-2">¿Quién soy?</h2>
    <!--parrafo informativo-->
    <p class="p-uno">Mi nombre es Mariano, me gusta la tecnología y la innovación. Además, me encanta aprender nuevas herramientas.<br>Actualmente me encuentro estudiando la carrera de <span>Desarrollador Frontend Angular</span> y el curso de <span>Product Manager</span> en <span>CoderHouse</span></p>
    <!--parrafo informativo-->
    <p class="p-dos">Vivo en Córdoba (Argentina). Me encanta Córdoba y trabajar remoto, porque me da la posibilidad de recorrer la provincia en la cuál vivo.</p>  
</main>